<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.adithya.ultron.ledger-compact</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>flock -n /tmp/com.adithya.ultron.ledger-compact.lock /Users/shakstzy/ULTRON/_shell/bin/run-stage.sh ledger-compact >> /Users/shakstzy/ULTRON/_logs/com.adithya.ultron.ledger-compact.log 2>&amp;1</string>
  </array>
  <key>StartCalendarInterval</key>
<array>
  <dict>
    <key>Hour</key><integer>4</integer>
    <key>Minute</key><integer>0</integer>
    <key>Day</key><integer>1</integer>
    <key>Month</key><integer>1</integer>
  </dict>
  <dict>
    <key>Hour</key><integer>4</integer>
    <key>Minute</key><integer>0</integer>
    <key>Day</key><integer>1</integer>
    <key>Month</key><integer>4</integer>
  </dict>
  <dict>
    <key>Hour</key><integer>4</integer>
    <key>Minute</key><integer>0</integer>
    <key>Day</key><integer>1</integer>
    <key>Month</key><integer>7</integer>
  </dict>
  <dict>
    <key>Hour</key><integer>4</integer>
    <key>Minute</key><integer>0</integer>
    <key>Day</key><integer>1</integer>
    <key>Month</key><integer>10</integer>
  </dict>
</array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>ULTRON_ROOT</key><string>/Users/shakstzy/ULTRON</string>
    <key>HOME</key><string>/Users/shakstzy</string>
  </dict>
  <key>StandardOutPath</key><string>/Users/shakstzy/ULTRON/_logs/com.adithya.ultron.ledger-compact.out.log</string>
  <key>StandardErrorPath</key><string>/Users/shakstzy/ULTRON/_logs/com.adithya.ultron.ledger-compact.err.log</string>
  <key>WorkingDirectory</key><string>/Users/shakstzy/ULTRON</string>
  <key>RunAtLoad</key><false/>
</dict>
</plist>
