<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>CLAUDE_CONFIG_DIR</key>
		<string>/Users/shakstzy/.claude-cron</string>
		<key>HOME</key>
		<string>/Users/shakstzy</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>ULTRON_ROOT</key>
		<string>/Users/shakstzy/ULTRON</string>
	</dict>
	<key>Label</key>
	<string>com.adithya.ultron.podcast-outreach-eclipse</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>flock -n /tmp/com.adithya.ultron.podcast-outreach-eclipse.lock /Users/shakstzy/ULTRON/_shell/bin/cron-runner.py com.adithya.ultron.podcast-outreach-eclipse -- /Users/shakstzy/ULTRON/_shell/bin/run-stage.sh podcast-outreach eclipse</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/shakstzy/ULTRON/_logs/com.adithya.ultron.podcast-outreach-eclipse.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/shakstzy/ULTRON/_logs/com.adithya.ultron.podcast-outreach-eclipse.out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>10</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/shakstzy/ULTRON</string>
</dict>
</plist>
