<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/shakstzy</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>ULTRON_ROOT</key>
		<string>/Users/shakstzy/ULTRON</string>
	</dict>
	<key>Label</key>
	<string>com.adithya.ultron.ingest-personal</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-lc</string>
		<string>/Users/shakstzy/ULTRON/_shell/bin/cron-runner.py com.adithya.ultron.ingest-personal -- /bin/bash -c 'cd /Users/shakstzy/ULTRON &amp;&amp; _shell/bin/run-stage.sh ingest personal'</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/shakstzy/ULTRON/_logs/ingest-personal.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/shakstzy/ULTRON/_logs/ingest-personal.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/shakstzy/ULTRON</string>
</dict>
</plist>
